<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="jquery-1.9.1.min.js">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
            </staticContent>
        </system.webServer>
    </location>
</configuration>
