#ignore Wort/NounRenderTemplate.xslt
.DS_Store
Text
Wort/*.xml
audio
pictures
build
#ignore Untracked.txt
Untracked.txt
server_code_django_release/*
#server_code_django/mysite/classGame/*
#server_code_django/mysite/classGame/polls/*
#server_code_django/mysite/mysite/__pycache__
#server_code_django/mysite/Word_edit/**/__pycache__
#server_code_django/mysite/*.xml
**/Wort_html_for_desktop.zip
Wort_html/
Wort_html_for_desktop/
server_code_django/*
