#ignore Wort/NounRenderTemplate.xslt
Wort/NounRenderTemplate.xslt
#ignore Untracked.txt
Untracked.txt
server_code_django/*
server_code_django.zip
**/Wort_html_for_desktop.zip
Wort_html/
Wort_html_for_desktop