<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".xsl" />
            <remove fileExtension=".xslt" />
            <mimeMap fileExtension=".xslt" mimeType="text/xsl" />
            <mimeMap fileExtension=".xsl" mimeType="text/xsl" />
        </staticContent>
    </system.webServer>
</configuration>
