<?xml version="1.0" encoding="UTF-8"?>
<Eintrag><Stichwort>springen</Stichwort><Infinitiv>springen</Infinitiv><Präsen><ich>springe</ich><du>springst</du><er_sie_es>springt</er_sie_es><wir>springen</wir><ihr>springt</ihr><sie_Sie>springen</sie_Sie></Präsen><Präteritum><ich>sprang</ich><du>sprangst</du><er_sie_es>sprang</er_sie_es><wir>sprangen</wir><ihr>sprangt</ihr><sie_Sie>sprangen</sie_Sie></Präteritum><Pratizip>ist gesprungen </Pratizip></Eintrag>