<html><head><title>Enter your title here</title><meta charset="utf-8"/><style>
      .img_1
      {
      float: right;
      margin: 1px 20% 10px 1px;
      }
    </style><bgsound src="" loop="1" id="BGSOUND"/></head>
{% load static %} 
<script type="text/javascript" src="{% static 'Word_edit/jquery-1.9.1.min.js' %}"></script><script type="text/javascript" src="{% static 'Word_edit/BufferSearch.js' %}"></script><body ondblclick="GetSelection()"><h1><span id="stich_wort">Apotheke</span> 
      <span><button type="button" id="edit_btn">编辑</button></span></h1><b><font color="#0000D0">der Apotheke </font></b><img src="{% static 'Word_edit/snd_sfx.png'%}" style="margin-bottom:-2px" border="0" id="audioImg"/><b><font color="#DF0101"><i>Substantiv </i></font></b><i>plural:</i><font color="green"><b>o.Pl. </b></font><i>genetiv:</i><font color="green"><b>Apothekes </b></font><div style="display:block;background-color:#f9f4bb;"><span style="color: black;font-weight:bold;"> Unit: 9</span> 
	 
	 <span style="color: black;font-weight:bold;"> Part: Text</span> 
	 </div><table border="1" bgcolor="#D07427" style="border-collapse:collapse;" width="100%"><tr><td><span style="color: #FFFFFF;"><b><font face="&#x4EFF;&#x5B8B;">药店</font></b></span></td></tr></table><ex><font color="#2F4F4F">Er holt sich Medikamente aus der Apotheke.</font></ex><br/><ex><font color="#59C945" face="&#x4EFF;&#x5B8B;">他从药店那买了药。</font></ex><br/><table width="100%" border="0" bgcolor="#697C15"><tr><td><span style="color: #FFFFFF;"><b><font face="&#x4EFF;&#x5B8B;">常用搭配</font></b></span></td></tr></table><font color="saddlebrown">chinesische Apotheke<br/></font><table border="0" bgcolor="#047DB1" width="100%"><tr><td><span style="color: #FFFFFF;"><b><font face="&#x4EFF;&#x5B8B;">派生词</font></b></span></td></tr></table><font color="saddlebrown">	
	▪Apotheker </font><b><font color="#DF0101"><i>Substantiv</i></font></b>  
	<br/></body></html>