<html><head><title>Enter your title here</title><meta charset="utf-8"/><style>
      .img_1
      {
      float: right;
      margin: 1px 20% 10px 1px;
      }
    </style><bgsound src="" loop="1" id="BGSOUND"/></head>
{% load static %} 
<script type="text/javascript" src="{% static 'Word_edit/jquery-1.9.1.min.js' %}"></script><script type="text/javascript" src="{% static 'Word_edit/BufferSearch.js' %}"></script><body ondblclick="GetSelection()"><h1><span id="stich_wort">Viertel</span> 
      <span><button type="button" id="edit_btn">编辑</button></span></h1><b><font color="#0000D0">das Viertel </font></b><img src="{% static 'Word_edit/snd_sfx.png'%}" style="margin-bottom:-2px" border="0" id="audioImg"/><b><font color="#DF0101"><i>Substantiv </i></font></b><i>plural:</i><font color="green"><b>Viertel </b></font><i>genetiv:</i><font color="green"><b>Viertels </b></font><div style="display:block;background-color:#f9f4bb;"><span style="color: black;font-weight:bold;"> Unit: 3</span> 
	 
	 <span style="color: black;font-weight:bold;"> Part: Text</span> 
	 </div><table border="1" bgcolor="#D07427" style="border-collapse:collapse;" width="100%"><tr><td><span style="color: #FFFFFF;"><b><font face="&#x4EFF;&#x5B8B;">四分之一</font></b></span></td></tr></table><ex><font color="#2F4F4F">Ich habe mich ein Viertel der Strecke hinter.</font></ex><br/><ex><font color="#59C945" face="&#x4EFF;&#x5B8B;">我走了四分之一路程了。</font></ex><br/><table border="1" bgcolor="#D07427" style="border-collapse:collapse;" width="100%"><tr><td><span style="color: #FFFFFF;"><b><font face="&#x4EFF;&#x5B8B;">城市的（区），市区</font></b></span></td></tr></table><table border="0" bgcolor="#047DB1" width="100%"><tr><td><span style="color: #FFFFFF;"><b><font face="&#x4EFF;&#x5B8B;">合成词</font></b></span></td></tr></table><font color="gray">Bahnhofsviertel   
	Villenviertel   
	</font><font color="maroon">Vierteljahr   
	Viertelliter   
	Viertelpfund   
	Viertelstunde   
	</font><table border="0" bgcolor="#047DB1" width="100%"><tr><td><span style="color: #FFFFFF;"><b><font face="&#x4EFF;&#x5B8B;">派生词</font></b></span></td></tr></table><font color="saddlebrown">	
	▪viertel </font><b><font color="#DF0101"><i>Adjektiv</i></font></b>  
	<font color="saddlebrown">	
	▪vierteln </font><b><font color="#DF0101"><i>Verben</i></font></b>  
	<table border="0" bgcolor="#047DB1" width="100%"><tr><td><span style="color: #FFFFFF;"><b><font face="&#x4EFF;&#x5B8B;">同义词</font></b></span></td></tr></table><font color="saddlebrown">
	▪Stadtviertel </font><br/></body></html>