<html><head><title>Enter your title here</title><meta charset="utf-8"/><style>
      .img_1
      {
      float: right;
      margin: 1px 20% 10px 1px;
      }
    </style><bgsound src="" loop="1" id="BGSOUND"/></head>
{% load static %} 
<script type="text/javascript" src="{% static 'Word_edit/jquery-1.9.1.min.js' %}"></script><script type="text/javascript" src="{% static 'Word_edit/BufferSearch.js' %}"></script><body ondblclick="GetSelection()"><h1><span id="stich_wort">Balkon</span> 
      <span><button type="button" id="edit_btn">编辑</button></span></h1><b><font color="#0000D0">der Balkon </font></b><img src="{% static 'Word_edit/snd_sfx.png'%}" style="margin-bottom:-2px" border="0" id="audioImg"/><b><font color="#DF0101"><i>Substantiv </i></font></b><i>plural:</i><font color="green"><b>Balkone </b></font><i>genetiv:</i><font color="green"><b> </b></font><div style="display:block;background-color:#f9f4bb;"><span style="color: black;font-weight:bold;"> Unit: 6</span> 
	 
	 <span style="color: black;font-weight:bold;"> Part: Einführung</span> 
	 </div><table border="1" bgcolor="#D07427" style="border-collapse:collapse;" width="100%"><tr><td><span style="color: #FFFFFF;"><b><font face="&#x4EFF;&#x5B8B;">阳台</font></b></span></td></tr></table><ex><font color="#2F4F4F">Der Balkon geht nach Süden.</font></ex><br/><ex><font color="#59C945" face="&#x4EFF;&#x5B8B;">阳台面朝南。</font></ex><br/><ex><font color="#2F4F4F">Meine Wohnung ist 77 m2 groß mit Bad,Küche und einem kleinen,schönen Balkon.</font></ex><br/><ex><font color="#59C945" face="&#x4EFF;&#x5B8B;">我的房子的面积是77平方米，带有浴室、厨房和一个小而漂亮的阳台。</font></ex><br/><table width="100%" border="0" bgcolor="#697C15"><tr><td><span style="color: #FFFFFF;"><b><font face="&#x4EFF;&#x5B8B;">常用搭配</font></b></span></td></tr></table><font color="saddlebrown">auf den Balkon gehen<br/>eine Wohnung mit Balkon<br/></font><table border="0" bgcolor="#047DB1" width="100%"><tr><td><span style="color: #FFFFFF;"><b><font face="&#x4EFF;&#x5B8B;">合成词</font></b></span></td></tr></table><font color="gray">Balkonblume   
	Balkonpflanze   
	</font><font color="maroon"/><br/></body></html>