<html>
    <head>
        <meta charset="utf-8"/>
        <title>Wort Edit</title>
     <style type="text/css">
         .choicable_expand {
             display: block;
         }
        .choicable_collapse {
             display: none;
         }
         #errorMessage {
             display: none;
         }
         #submit_button:focus + #errorMessage {
             display:block;
         }
         .tab_css {
            display: none;  
         }
         .tab_nav_main {
             background-color:yellow;
         }
         .tab_nav_sub {
             background-color:gray;
         }

             /*#parent span:hover + ul{display: block;}
             #testFocus:focus + ul{color:#ff0000;display:block;}
             */
            </style>
        {% load static %}
        <script src="{% static 'Word_edit/jquery.js' %}"></script>
        <script src="{% static 'Word_edit/edit_utility.js' %}"></script>
    </head>
    <body>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <!--a form here{% url 'Word_edit:results' 'zhaofeng-shu33' %}-->
     <form action="{% url 'Word_edit:results' 'zhaofeng-shu33' %}" method="post">
         {% csrf_token %}
        <div>
            <div>
           <!--词条基本信息 例句 相关词汇-->
            <button type="button" id="tab_nav_1" class="tab_nav_sub">词条基本信息</button>
            <button type="button" id="tab_nav_2" class="tab_nav_sub">例句</button>
            <button type="button" id="tab_nav_3" class="tab_nav_sub">相关词汇</button>

            
            </div>
            <div>
                <div class="tab_css" id="tab_content_1">
         <input id="Stichwort"  value='请在此输入词条的名称' name="Stichwort"/>
         <div>
        <label><input name="Genus" type="radio" value='der' checked="checked"/>der</label> 
        <label><input name="Genus" type="radio"  value='die'/>die</label> 
         <label><input name="Genus" type="radio"  value='das'/>das</label>
        </div>
         <div>
         <input id="Pluralform" list="Pluralform_Prompt" value='请在此输入复数' name="Pluralform"/>
         <datalist id="Pluralform_Prompt"></datalist>
         </div>
         <!--example here-->
         <div>
         <input id="GenitivSingular" list="GenitivSingular_Prompt" value='请在此输入第二格' name="GenitivSingular"/>
         <datalist id="GenitivSingular_Prompt"></datalist>
         </div>

         <div>
         <span>选填：</span><button type="button" id="Button1">Expand</button>
                      <div id="Div1" class="choicable_collapse"><!--unordered list-->
        
        <label for="unittype">单元:</label>
        <select id="Select1" name="unittype">
        <option value="1"> Eins </option>
        <option value="2"> Zwei </option>
        <option value="3" selected> Drei </option>
        <option value="4"> Vier </option>
        <option value="5"> Fünf </option>
        <option value="6"> Sechs </option>
        <option value="7"> Sieben </option>
        <option value="8"> Acht </option>
        <option value="9"> Neun </option>
        <option value="10"> Zehn </option>
        </select><br />

        <label for="Anteil">部分:</label>
        <select id="Select2" name="Anteil">
        <option value="1"> Einfürung </option>
        <option value="2" selected> Text </option>
        <option value="3"> Übungen </option>
        <option value="4"> Intentionen </option>
        <option value="5"> Hörverstehen </option>
        <option value="6"> Leseverstehen </option>
        </select><br/>
        <label for="UserName">用户名</label>
                          <select id="Select3" name="UserName">
                              <option value="赵丰">赵丰</option>
                              <option value="赵凯">赵凯</option>
                              <option value="牛行知">牛行知</option>
                              <option value="">匿名</option>
                          </select>
         </div>

        </div>
        </div>
                <div class="tab_css" id="tab_content_2">
                    <p>sein</p>
                </div>
                <div class="tab_css" id="tab_content_3">
                        <dl id="Sym_List">
                            <dt><button type="button" id="add_Sym">点击添加同义词</button></dt>
                            <dd><input id="Sym_1" value='请在此输入第1个同义词' name="Sym_1" class="Sym"/></dd>
                           <!-- <dd><input id="Sym_2" value='请在此输入第2个同义词' name="Sym_2" class="Sym"/></dd>-->
                        </dl>
                        
                </div>

            </div>
        </div>  
          <input value="提交" type="submit" id="submit_button"/>
        <p id="errorMessage"></p>
        </form>

         
                   </body></html>